*.egg-info/
*.o
.*.pyc
.*\.orig
.*\.swp
.ipynb_checkpoints/
REVISION
VERSION
__pycache__
*.egg-info/
.vscode/*
.version
.idea/

build/
src/cocopp/_version.py
src/cocopp/**/*.dat
src/cocopp/**/*.tdat
src/cocopp/**/*.info
dist/
ppdata/