
* { box-sizing: border-box; margin: 0; padding: 0; }
body { overflow: hidden; user-select: none; width: 100%; height: 100%; background: #fff; color: #000; }
h2 { text-wrap: nowrap; }
p { margin: 0.5em 1em; }
button, select { padding: 0.25em 0.5em; font-size: 120%; }
div#header { width: 100%; height: 3em; border-bottom: 1px solid #aaa; padding: 0 1em; display: flex; justify-content: space-between; align-items: center; }
div#header div#controls { display: flex; justify-content: space-between; align-items: center; gap: 2em; }
div#header div#controls select { padding: 0.25em 0.5em; }
div#header div#controls span { padding: 0.25em 0.5em; border: 1px solid #ccc; border-radius: 0.25em; }
div#header div#controls div { display: flex; gap: 0.25em; }
div#header div#dim { align-items: center; }
div#header div#func { align-items: center; }
div#content { position: relative; width: 100%; height: calc(100vh - 3em); overflow-x: hidden; overflow-y: scroll; margin: auto; }
div#content table { position: absolute; top: 0; left: 0; }
div#content img.single_plot { width: 100%; max-width: 100vw; max-height: calc(100vh - 5em); }
.clickable { cursor: pointer; }
